*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #eee;
    color: green;
    padding: 20px;
}
.header h1{
 font-size: 40px;
 text-align: center; 
}
.child1{
    background-color: cornflowerblue;
    width: 400px;
}
.child2{
  
    display: block;
    position:relative;  
    width: 500px;
    margin-left: 405px;  
    margin-top: -55px; 
   
}
.child3{
display: block;
position: relative;
width: 400px;
margin-left: 910px;
margin-top: -214px;
background-color: brown;
}
